apiVersion: apps/v1
kind: Deployment
metadata:
  name: mymysqlproject-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mymysqlproject
  template:
    metadata:
      labels:
        app: mymysqlproject
    spec:
      containers:
      - name: mymysqlproject
        image: pavankumarsangisetti/mymysqlproject:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
