apiVersion: apps/v1
kind: Deployment
metadata:
  name: mymongoproject-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mymongoproject
  template:
    metadata:
      labels:
        app: mymongoproject
    spec:
      containers:
      - name: mymongoproject
        image: pavankumarsangisetti/mymongoproject:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
